@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: rgba(68, 186, 101, 1);
}
h1 {
  font-size: 90px;
}
.carta {
  background-color: white;
  width: 300px;
  height: 450px;
  position: relative;
}

.heart,
.heart-turned {
  color: red;
  position: absolute;
}

.heart-turned {
  transform: rotate(180deg);
  bottom: 0;
  right: 0;
}

.spade,
.spade-turned {
  color: rgb(0, 0, 0);
  position: absolute;
}

.spade-turned {
  transform: rotate(180deg);
  bottom: 0;
  right: 0;
}

.club,
.club-turned {
  color: rgb(0, 0, 0);
  position: absolute;
}

.club-turned {
  transform: rotate(180deg);
  bottom: 0;
  right: 0;
}

.diamond,
.diamond-turned {
  color: red;
  position: absolute;
}

.diamond-turned {
  transform: rotate(180deg);
  bottom: 0;
  right: 0;
}

.numero {
  position: relative;
  top: 50%; /* Coloca el número en el centro vertical */
  left: 50%; /* Coloca el número en el centro horizontal */
  transform: translate(-50%, -50%);
}
